.float {
	position: absolute;
	top: 130px;
	z-index: 5;
	float: left;
	width: 20%;
}
.floatList {
	position: absolute;
	top: 150px;
	z-index: 5;
	float: left;
	width: 20%;
	left: -17px;
	background: white;
}
#map {
	width: 70%;
	height: 600px;
	float: right;
}
ul {
	list-style-type: none;
}
li {
	margin: 0 0 10px 0;
	font-size: 20px;
}
li:hover {
	color: blue;
}
.icon-list {
	font-size: 1.5em;
	color: #FFF;
}
.bgimg {
	position:fixed;
	top: 0;
	left: 0;
	width:100%;
	z-index:-1;
	opacity:1;
}
h1 {
    border-style: groove;
    border-color: black;
    width: 50%;
    background-color: azure;
}